{
  "Entries": [
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourcegroups/sqlcrudtest-4577?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-4577\": \"2018-01-11 01:43:02Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577\",\r\n  \"name\": \"sqlcrudtest-4577\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-4577\": \"2018-01-11 01:43:02Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2018-01-11T01:43:08.083Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/304808f9-6564-42fe-86db-d8c8f48967a8?api-version=2015-05-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/304808f9-6564-42fe-86db-d8c8f48967a8?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/304808f9-6564-42fe-86db-d8c8f48967a8?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"304808f9-6564-42fe-86db-d8c8f48967a8\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-01-11T01:43:08.083Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "20"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sqlcrudtest-5100.sqltest-eg1.mscds.com\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100\",\r\n  \"name\": \"sqlcrudtest-5100\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/firewallRules/AllowAzure?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"0.0.0.0\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/firewallRules/AllowAzure\",\r\n  \"name\": \"AllowAzure\",\r\n  \"type\": \"Microsoft.Sql/servers/firewallRules\",\r\n  \"location\": \"Southeast Asia\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"0.0.0.0\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/databases/sqlcrudtest-1514?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"requestedServiceObjectiveName\": \"S1\"\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2018-01-10T17:44:25.341-08:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/databases/sqlcrudtest-1514/operationResults/325800e0-f15a-4b65-a03b-d7e599867b52?api-version=2014-04-01-Preview"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/databases/sqlcrudtest-1514/azureAsyncOperation/325800e0-f15a-4b65-a03b-d7e599867b52?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/databases/sqlcrudtest-1514/azureAsyncOperation/325800e0-f15a-4b65-a03b-d7e599867b52?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"325800e0-f15a-4b65-a03b-d7e599867b52\",\r\n  \"status\": \"InProgress\",\r\n  \"error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/databases/sqlcrudtest-1514/azureAsyncOperation/325800e0-f15a-4b65-a03b-d7e599867b52?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/databases/sqlcrudtest-1514?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/databases/sqlcrudtest-1514\",\r\n  \"name\": \"sqlcrudtest-1514\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"Southeast Asia\",\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"databaseId\": \"6a7856a4-aa4f-422b-98bd-220d27cf0b0b\",\r\n    \"edition\": \"Standard\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"S1\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"268435456000\",\r\n    \"creationDate\": \"2018-01-11T01:44:25.607Z\",\r\n    \"currentServiceObjectiveId\": \"1b1ebd4d-d903-4baa-97f9-4ea675f5e928\",\r\n    \"requestedServiceObjectiveId\": \"1b1ebd4d-d903-4baa-97f9-4ea675f5e928\",\r\n    \"requestedServiceObjectiveName\": \"S1\",\r\n    \"sampleName\": null,\r\n    \"defaultSecondaryLocation\": \"North Europe\",\r\n    \"earliestRestoreDate\": \"2018-01-11T02:15:14.303Z\",\r\n    \"elasticPoolName\": null,\r\n    \"containmentState\": 2,\r\n    \"readScale\": \"Disabled\",\r\n    \"failoverGroupId\": null,\r\n    \"zoneRedundant\": false,\r\n    \"isUpgradeRequested\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"databaseId\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/databases/sqlcrudtest-1514\"\r\n  },\r\n  \"location\":[...]
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/locations/southeastasia/jobAgentAzureAsyncOperation/31626d48-587a-4827-9af1-aac4266ef5dc?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"31626d48-587a-4827-9af1-aac4266ef5dc\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-01-11T01:45:28.53Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/credentials/cred1?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"username\": \"dummylogin\",\r\n    \"password\": \"Un53cuRE!\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"username\": \"dummylogin\"\r\n  },\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/credentials/cred1\",\r\n  \"name\": \"cred1\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/credentials\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/targetGroups/targetGroup1?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"members\": [\r\n      {\r\n        \"type\": \"SqlDatabase\",\r\n        \"serverName\": \"sqlcrudtest-5100\",\r\n        \"databaseName\": \"sqlcrudtest-1514\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"members\": [\r\n      {\r\n        \"membershipType\": \"Include\",\r\n        \"type\": \"SqlDatabase\",\r\n        \"serverName\": \"sqlcrudtest-5100\",\r\n        \"databaseName\": \"sqlcrudtest-1514\"\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/targetGroups/targetGroup1\",\r\n  \"name\": \"targetGroup1\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/targetGroups\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/jobs/job1?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"description\": \"\",\r\n    \"version\": 0,\r\n    \"schedule\": {\r\n      \"startTime\": \"0001-01-01T00:00:00Z\",\r\n      \"endTime\": \"9999-12-31T11:59:59Z\",\r\n      \"type\": \"Once\",\r\n      \"enabled\": false\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/jobs/job1\",\r\n  \"name\": \"job1\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/jobs\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/jobs/job1/steps/step1?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetGroup\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/targetGroups/targetGroup1\",\r\n    \"credential\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/credentials/cred1\",\r\n    \"action\": {\r\n      \"value\": \"select 1\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"stepId\": 1,\r\n    \"targetGroup\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/targetGroups/targetGroup1\",\r\n    \"credential\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/credentials/cred1\",\r\n    \"action\": {\r\n      \"type\": \"TSql\",\r\n      \"source\": \"Inline\",\r\n      \"value\": \"select 1\"\r\n    },\r\n    \"executionOptions\": {\r\n      \"timeoutSeconds\": 43200,\r\n      \"retryAttempts\": 10,\r\n      \"initialRetryIntervalSeconds\": 1,\r\n      \"maximumRetryIntervalSeconds\": 120,\r\n      \"retryIntervalBackoffMultiplier\": 2.0\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/jobs/job1/steps/step1\",\r\n  \"name\": \"step1\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/jobs/steps\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/jobs/job1/start?api-version=2017-03-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"jobVersion\": 1,\r\n    \"jobExecutionId\": \"ded12751-b84d-4b0a-9646-690303bf5551\",\r\n    \"lifecycle\": \"Created\",\r\n    \"provisioningState\": \"Created\",\r\n    \"createTime\": \"2018-01-11T01:47:52.94Z\",\r\n    \"currentAttempts\": 0,\r\n    \"lastMessage\": \"Job execution created.\"\r\n  },\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/jobs/job1/executions/ded12751-b84d-4b0a-9646-690303bf5551\",\r\n  \"name\": \"ded12751-b84d-4b0a-9646-690303bf5551\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/jobs/executions\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/jobs/job1/executions/ded12751-b84d-4b0a-9646-690303bf5551?api-version=2017-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/jobs/job1/executions/ded12751-b84d-4b0a-9646-690303bf5551?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"jobVersion\": 1,\r\n    \"jobExecutionId\": \"ded12751-b84d-4b0a-9646-690303bf5551\",\r\n    \"lifecycle\": \"WaitingForChildJobExecutions\",\r\n    \"provisioningState\": \"InProgress\",\r\n    \"createTime\": \"2018-01-11T01:47:52.94Z\",\r\n    \"startTime\": \"2018-01-11T01:48:01.3300768Z\",\r\n    \"currentAttempts\": 0,\r\n    \"lastMessage\": \"Job execution waiting for job steps to complete.\"\r\n  },\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-4577/providers/Microsoft.Sql/servers/sqlcrudtest-5100/jobAgents/agent1/jobs/job1/executions/ded12751-b84d-4b0a-9646-690303bf5551\",\r\n  \"name\": \"ded12751-b84d-4b0a-9646-690303bf5551\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/jobs/executions\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14981"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourcegroups/sqlcrudtest-4577?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDQ1NzctU09VVEhFQVNUQVNJQSIsImpvYkxvY2F0aW9uIjoic291dGhlYXN0YXNpYSJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "sqlcrudtest-4577"
    ],
    "CreateServer": [
      "sqlcrudtest-5100"
    ],
    "TestExecuteJob": [
      "sqlcrudtest-1514"
    ]
  },
  "Variables": {
    "SubscriptionId": "32186232-b477-4519-be0a-f5a2c165f370",
    "DefaultLocation": "southeastasia"
  }
}