{
  "Entries": [
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourcegroups/sqlcrudtest-675?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-675\": \"2018-01-11 01:19:00Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675\",\r\n  \"name\": \"sqlcrudtest-675\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-675\": \"2018-01-11 01:19:00Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2018-01-11T01:19:04.253Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/ce8236c8-7d51-4ce7-99a4-3019772eee62?api-version=2015-05-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/ce8236c8-7d51-4ce7-99a4-3019772eee62?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/ce8236c8-7d51-4ce7-99a4-3019772eee62?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ce8236c8-7d51-4ce7-99a4-3019772eee62\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-01-11T01:19:04.253Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "20"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sqlcrudtest-3488.sqltest-eg1.mscds.com\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488\",\r\n  \"name\": \"sqlcrudtest-3488\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/databases/sqlcrudtest-5054?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"requestedServiceObjectiveName\": \"S1\"\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2018-01-10T17:20:19.241-08:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/databases/sqlcrudtest-5054/operationResults/2cdc8600-bc64-4b48-b455-744a8d82f062?api-version=2014-04-01-Preview"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/databases/sqlcrudtest-5054/azureAsyncOperation/2cdc8600-bc64-4b48-b455-744a8d82f062?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/databases/sqlcrudtest-5054/azureAsyncOperation/2cdc8600-bc64-4b48-b455-744a8d82f062?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"2cdc8600-bc64-4b48-b455-744a8d82f062\",\r\n  \"status\": \"InProgress\",\r\n  \"error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/databases/sqlcrudtest-5054/azureAsyncOperation/2cdc8600-bc64-4b48-b455-744a8d82f062?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/databases/sqlcrudtest-5054?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/databases/sqlcrudtest-5054\",\r\n  \"name\": \"sqlcrudtest-5054\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"Southeast Asia\",\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"databaseId\": \"1cce86ed-0f79-4773-8417-d29336e648ae\",\r\n    \"edition\": \"Standard\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"S1\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"268435456000\",\r\n    \"creationDate\": \"2018-01-11T01:20:19.49Z\",\r\n    \"currentServiceObjectiveId\": \"1b1ebd4d-d903-4baa-97f9-4ea675f5e928\",\r\n    \"requestedServiceObjectiveId\": \"1b1ebd4d-d903-4baa-97f9-4ea675f5e928\",\r\n    \"requestedServiceObjectiveName\": \"S1\",\r\n    \"sampleName\": null,\r\n    \"defaultSecondaryLocation\": \"North Europe\",\r\n    \"earliestRestoreDate\": \"2018-01-11T01:50:58.03Z\",\r\n    \"elasticPoolName\": null,\r\n    \"containmentState\": 2,\r\n    \"readScale\": \"Disabled\",\r\n    \"failoverGroupId\": null,\r\n    \"zoneRedundant\": false,\r\n    \"isUpgradeRequested\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/jobAgents/agent1?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"databaseId\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/databases/sqlcrudtest-5054\"\r\n  },\r\n  \"location\": \[...]
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/jobAgents/agent1?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"databaseId\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/databases/sqlcrudtest-5054\"\r\n  },\r\n  \"tags\": {\r\n    \"tagKey1\": \"TagValue1\"\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertJobAccount\",\r\n  \"startTime\": \"2018-01-11T01:23:41.327Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/locations/southeastasia/jobAgentOperationResults/7ae68d6e-878f-42b2-b7d1-e32604cb4cba?api-version=2017-03-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/locations/southeastasia/jobAgentAzureAsyncOperation/7ae68d6e-878f-42b2-b7d1-e32604cb4cba?api-version=2017-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/locations/southeastasia/jobAgentAzureAsyncOperation/d55222d9-4fd3-428e-a246-6cf896b789fc?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"d55222d9-4fd3-428e-a246-6cf896b789fc\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-01-11T01:21:21.95Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/jobAgents?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"databaseId\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/databases/sqlcrudtest-5054\"\r\n      },\r\n      \"location\": \"southeastasia\",\r\n      \"tags\": {\r\n        \"tagKey1\": \"TagValue1\"\r\n      },\r\n      \"id\": \"/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourceGroups/sqlcrudtest-675/providers/Microsoft.Sql/servers/sqlcrudtest-3488/jobAgents/agent1\",\r\n      \"name\": \"agent1\",\r\n      \"type\": \"Microsoft.Sql/servers/jobAgents\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14978"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/resourcegroups/sqlcrudtest-675?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/32186232-b477-4519-be0a-f5a2c165f370/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDY3NS1TT1VUSEVBU1RBU0lBIiwiam9iTG9jYXRpb24iOiJzb3V0aGVhc3Rhc2lhIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "sqlcrudtest-675"
    ],
    "CreateServer": [
      "sqlcrudtest-3488"
    ],
    "TestCreateUpdateDropAgent": [
      "sqlcrudtest-5054"
    ]
  },
  "Variables": {
    "SubscriptionId": "32186232-b477-4519-be0a-f5a2c165f370",
    "DefaultLocation": "southeastasia"
  }
}